.main__cardvegetables {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  width: 12rem;
  height: 9rem;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  background-size: cover;
  color: white;
  text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}
.main__cardName {
  padding: 0.1rem 1rem;
  flex: 1 1 auto;
  width: 12rem;
  height: 100%;
}

.main__cardSVG {
  width: 100%;
  flex: 1 1 auto;
  height: 50%;
  margin-left: 1em;
  padding: 1em;
  padding-top: 0%;
}
