.main__CardAdd {
  position: relative;

  width: 12rem;
  height: 9rem;
  border: 1px solid #dfe0eb;
  box-sizing: border-box;
  border-radius: 8px;
}

.main__Button {
  width: 100%;
  padding: 33% 0%;
  text-align: center;
  justify-content: center;
}
