.weeks {
  position: relative;

  padding: 1em;

  width: 51rem;
  height: 100%;

  /* white */
  background: #ffffff;
  /*  divider */
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.weeks__header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 0px;
  text-align: left;
  letter-spacing: 1px;

  /*  black */

  color: #252733;
}

.weeks__header__date {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;

  text-align: left;
  letter-spacing: 0.4px;

  /* grayscale / gray */

  color: #9fa2b4;
}

.weeks__vegetables {
  position: relative;
  display: grid;
  padding-left: 2rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, auto));
}
