.legume {
  position: relative;
  margin: auto;

  width: 8rem;
  height: 6rem;
  padding: 1rem;
  /* grayscale / white */
  background: #ffffff;
  /* grayscale / divider */

  border: 1px solid #dfe0eb;
  box-sizing: border-box;
  border-radius: 8px;

  background-size: cover;
}

.legume__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1px;

  /* grayscale / black */

  color: white;
  text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}
