.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  font-size: small;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  padding: 0rem 0.3rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffc2c2;
}
