.button {
    font: inherit;
    
    padding: 0.5rem 1.5rem;
    border: 1px solid #DDE2FF;
    border-radius: 4px;
    background: #363740;
    color: white;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #52e75f;
    border-color: #52e75f;
  }
  
  .button--inverse {
    background: transparent;
    color: #52e75f;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: #52e75f;
  }
  
  .button--danger {
    background: #830000;
    border-color: #830000;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: #52e75f;
    border-color: #52e75f;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }