.input {
    margin: 1em 0;
    width: 100%;
  }
  
.input label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    font-size: small;
}
.input input,
.input textarea {
    display: block;
    font: inherit;
    padding: 0.15rem 0.25rem;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.input p {
    margin-top: 0.1em;
  color: red;
}