.main-navigation___title {
  position: relative;
  text-decoration: none;
  text-align: center;
  /* Bold 19 (0.4 px) */
  display: block;
  margin-top: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.4px;
  /* sidebar / gray */

  color: #000000cc;
  opacity: 0.7;
}
.main-navigation___title .main-navigation__sidebar-nav {
  display: none;
  margin-right: 2rem;
}
