.nav-links {
    margin-left: 0px;
    margin-top: 50px;
    padding: 0;
    width: 255px;
    height: 100%;
    display: flex;
    flex-direction: column; /* ALIGNEMENT */
}

.nav-links li {
  left: 0;
  top: 0;
  width: 255px;
  height: 56px;

}

.nav-links a {
  position: relative;
  color: #A4A6B3;;
  text-decoration: none;
  padding: 0;
  display:block;
}
.nav-links a span {
  margin: 1.1rem;
  display:inline-block;
  

  
}


.nav-links li:hover,
.nav-links li:active,
.nav-links li:active {
  /* grayscale / gray */
  background: #9fa2b41f;
}

.nav-links li:hover path,
.nav-links li:active path,
.nav-links li.active path{
  fill: #DDE2FF; 
}
.nav-links li:hover a,
.nav-links li:active a,
.nav-links li.active a{
  color: #DDE2FF; 
}


.nav-links a:hover,
.nav-links a:active,
.nav-links a.active{
  color: #DDE2FF; 
}
.nav-links a:hover path,
.nav-links a:active path,
.nav-links a.active path{
  fill: #DDE2FF; 
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #292929;
  color: white;
}

