.nav-links {
  margin-left: 0px;
  margin-top: 50px;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-links li {
  left: 0;
  top: 0;
  width: 16rem;
  height: 56px;
}

.nav-links a {
  position: relative;
  color: #a4a6b3;
  text-decoration: none;
  display: flex;
  padding: 0;
  flex-direction: row;
}
.nav-links a span {
  display: flex;
  margin-left: 1.5rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
}
.nav-links a div {
  padding: 1.075rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links a:hover,
.nav-links a:hover path,
.nav-links a:active span {
  /* grayscale / gray */
  color: #18bc9c;

  fill: #18bc9c;
}

.nav-links a:active,
.nav-links a.active {
  font-weight: bold;
  color: #18bc9c;
}

.nav-links a.active div,
.nav-links a.active span {
  border-bottom: 2px solid #18bc9c;
}
.nav-links a:active path,
.nav-links a.active path {
  fill: #18bc9c;
}
