@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #ffffff;
  position: absolute;
}

.main {
  position: fixed;
  width: calc(100% - 16rem);
  height: 100%;
  left: 16rem;
  background: #dfdfdf5e;
  overflow: hidden visible;
}
.main::-webkit-scrollbar {
  display: none;
}
.main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overlay {
  height: inherit;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}
